.heading{
    display: flex;
    justify-content: center;
    align-items: center;

}
.heading div{
    height: 1px;
    width: 30vw;
    background-color: rgba(39, 39, 39, 0.274);
}
.heading p{
    margin: 3vmax;
    color: rgb(150, 150, 150);
    font-size: 2.5vmax;
    user-select: none;
    font-weight: 200;
}